<html>
  <body>
    <section class="header">
    <h1 class="title">Basic ToDo List</h1>
    </section>
    <div class="box">
      <h2 class="newTask">New tasks</h2>
         <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="parentSelector"
            [value]="-1"
            (change)="onChangeFood($event)"
            #cbox
          />
      <input type="text" id="todo" placeholder="what needs to be done?" (keyup.enter)="getList(name.value)" #name>
      <button class="button" (click)="getList(name.value)">
        <i class="material-icons">add</i>
        Add
      </button>
    </div>
    <br><br>
    <div id="list" [hidden]="count">
      <div  *ngFor="let item of list" class="taskList" (mouseover)="hideElement = false"(mouseleave)="hideElement = true">
          <label>
            <input id="checkbox" class="form-check-input"
            [(ngModel)]="item.deleted"
            type="checkbox"
            [value]="item.id"
            [checked]="item.select"
            (change)="onChangeFood($event)"
          />
          </label>
          <p id="task" [ngClass]="{strike: item.deleted}">{{item.task}}</p>
          <button id="remove" (click)="removeTask(item.id)" [hidden]="hideElement">
            <i class="material-icons">close</i>
          </button>
    </div>
    <div class="footer" >
      <br>
      <p  id="counter">{{list.length}} items left</p>
      <button id="all">All</button>
    </div>
    
  </div>
  </body>
</html>